* {
    margin:0;
    padding:0;
    /* Safari/Chrome, other WebKit */
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}
html {
    position:relative;
    min-height:100%;
    margin:0;
    padding:0;
}

body {
    margin: 0 0 50px;
}

#header {
    background-color:#23272D;
    border-color:#D13939; 
    height:60px;
    text-align:center;
    width:100%;
}

#logo {
  font-family:"Berkshire Swash",cursive;
  color:white;
  font-size:40px;
  border-bottom:1px solid white;
  margin:auto;
  width:300px;
}

#logo p {
  border-bottom:1px solid white;
}

#logo a {
  color:white;
  text-decoration:none;
}



#nav {
  background-color:#23272D;
  text-align:center;
  width:100%;
  text-decoration:none;
  height:35px;
}

#nav li {
  display:inline-block;
  color:white;
  list-style-type:none;
  padding-left:10px;
  padding-right:10px;
  padding-top:5px;
  font-family:'Lato', Helvetica, sans-serif;
  font-size:16px;

}

#nav a {
  color:white;
  text-decoration:none;
}

#nav a:hover {
  color:#D13939;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

#about {
    background-color:#D13939;
    height:100%;
    width:100%;
    margin:auto;

}
#about h2 {
    color:white;
    font-family:'Lato', Helvetica, sans-serif;
    text-align:center;
}

#about-content {
    width:1050px;
    margin:0 auto;
    height:600px;
}

#all-me {
    float:left;
    margin-top:34px;
    margin-left:25px;

}
#all-me img {
  max-width:100%;
  border:3px solid;

}

#about-me {
  width:600px;
  float:right;
  margin-top:50px;
  text-align:left;
}

#about-me p {
    font-size:1.3em;
    font-family:'Lato', Helvetica, sans-serif;
    line-height:1.75em;
    padding:5px;
    color:black;

}

#portfolio {
    background-color:white;
    height:100%;
    width:100%;
    text-align:center;
    font-family:'Lato', Helvetica, sans-serif;
}

#portfolio h2 {
  color:black;
  font-family:'Lato', Helvetica, sans-serif;
  font-style:bold;
}
#work-wrapper {
    width:900px;
    height:500px;
    margin:auto;
}
.rift-1 { 
  width: 400px; /* Define width */
  height: 194px; /* Define height */
  position: relative; 
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-decoration:none;
  float:left;
  margin-top:20px;
  margin-left:25px;
}

.rift-1 img { 
  height: auto; 
  opacity: 0;
}

.rift-1 .caption { 
  position: absolute; 
  top: 50%;
  width: 100%;
  height: 60px; /* Define caption height */
  line-height: 60px; /* Define matched line-height */ 
  margin: -30px 0 0 0; /* Half caption height */
  text-align: center; 
  z-index: 0;
  font-family:'Lato', Helvetica, sans-serif;
  color:#23272D;
}

.rift-1 span[class*="span"] {
  display: block;
  width: 100%;
  height: 50%;
  overflow: hidden;
  position: absolute;
  left: 0;
  z-index: 1;
  -webkit-transform: translate3d(0,0,0);
  /* Acceleration FTW */
  -webkit-transition: -webkit-transform .25s;
  -webkit-transition-duration: .25s;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transform: .25s;
  transform: .25s;  /* Define anim. speed */
}

.rift-1 span.top-span { top: 0; }
.rift-1 span.btm-span { bottom: 0; }

.rift-1:hover span.top-span { 
  transform: translate(0,-30px);
  -webkit-transform: translate(0,-30px);  /* Half caption height */
}

.rift-1:hover > span.btm-span { 
  transform: translate(0,30px);
  -webkit-transform: translate(0,30px); /* Half caption height */
}

.rift-2 { 
  width: 400px; /* Define width */
  height: 194px; /* Define height */
  position: relative; 
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-decoration:none;
  float:left;
  margin-top:20px;
  margin-left:25px;

}

.rift-2 img { 
  height: auto; 
  opacity: 0;
}

.rift-2 .caption { 
  position: absolute; 
  top: 50%;
  width: 100%;
  height: 60px; /* Define caption height */
  line-height: 60px; /* Define matched line-height */ 
  margin: -30px 0 0 0; /* Half caption height */
  text-align: center; 
  z-index: 0;
  font-family:'Lato', Helvetica, sans-serif;
  color:#23272D;
}

.rift-2 span[class*="span"] {
  display: block;
  width: 100%;
  height: 50%;
  overflow: hidden;
  position: absolute;
  left: 0;
  z-index: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0); /* Acceleration FTW */
  transition: transform .25s;
  -webkit-transform: translate3d(0,0,0); /* Acceleration FTW */
  -webkit-transition: -webkit-transform .25s;
  -webkit-transition-duration: .25s;  /* Define anim. speed */
}

.rift-2 span.top-span { top: 0; }
.rift-2 span.btm-span { bottom: 0; }

.rift-2:hover span.top-span { 
  transform: translate(0,-30px);
  -webkit-transform: translate(0,-30px);  /* Half caption height */
}

.rift-2:hover > span.btm-span { 
  transform: translate(0,30px);
  -webkit-transform: translate(0,30px); /* Half caption height */
}

.rift-3 { 
  width: 400px; /* Define width */
  height: 194px; /* Define height */
  position: relative; 
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-decoration:none;
  float:left;
  margin-top:20px;
  margin-left:25px;
}

.rift-3 img { 
  height: auto; 
  opacity: 0;
}

.rift-3 .caption { 
  position: absolute; 
  top: 50%;
  width: 100%;
  height: 60px; /* Define caption height */
  line-height: 60px; /* Define matched line-height */ 
  margin: -30px 0 0 0; /* Half caption height */
  text-align: center; 
  z-index: 0;
  font-family:'Lato', Helvetica, sans-serif;
  color:#23272D;
}

.rift-3 span[class*="span"] {
  display: block;
  width: 100%;
  height: 50%;
  overflow: hidden;
  position: absolute;
  left: 0;
  z-index: 1;
  -webkit-transform: translate3d(0,0,0);
  /* Acceleration FTW */
  -webkit-transition: -webkit-transform .25s;
  -webkit-transition-duration: .25s;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transform: .25s;
  transform: .25s;  /* Define anim. speed */
}

.rift-3 span.top-span { top: 0; }
.rift-3 span.btm-span { bottom: 0; }

.rift-3:hover span.top-span { 
  transform: translate(0,-30px);
  -webkit-transform: translate(0,-30px);  /* Half caption height */
}

.rift-3:hover > span.btm-span { 
  transform: translate(0,30px);
  -webkit-transform: translate(0,30px); /* Half caption height */
}

#services {
  min-width:100%;
  height:100%;
  background-color:#D13939;
  font-family:'Lato', Helvetica, sans-serif;
  font-size:16px;
  text-align:center;
  line-height:1.5em;
}

#services h2 {
  color:white;
  padding-top:20px;
  font-family:'Lato', Helvetica, sans-serif;
}
#services h4{
  color:white;
  font-family:'Lato', Helvetica, sans-serif;
  text-align:center;
  padding-top:10px;
}
#services p {
  text-align:left;
  color:black;
}

#services-content {
  width:1000px;
  height:425px;
  margin:auto;

}

#services-content img {
  width:100px;
  height:100px;
}

#development {
  width:33.33%;
  float:left;
  padding:20px 20px 0px 20px;
}

#communication{
  width:33.33%;
  float:left;
  padding:20px 20px 0px 20px
}

#management {
  width:33.33%;
  float:left;
  padding:20px 20px 0px 20px
}

#contact-section {
    background-color:white;
    height:350px;
    width:100%;
    text-align:center;
    
}
#contact {
  padding-top:20px;
}
#contact h2{
  padding-bottom:40px;
  font-family:'Lato', Helvetica, sans-serif;
}
#contact p {
  font-family:'Lato', Helvetica, sans-serif;
}

.btn.btn-lg {
padding: 19px 51px 17px;
font-size: 12px;
line-height: 16px;
border: 2px solid;
}

.btn.btn-primary {
color: white;
border-color: #de4f4f;
}

.btn {
font-family: 'Lato';
background: none;
background-color: transparent;
border-radius: 0px;
text-transform: uppercase;
font-weight: bold;
transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-webkit-transition: all 0.2s linear;
text-decoration: none;
letter-spacing: 1px;
border: 2px solid;
font-size: 11px;
padding: 13px 20px 13px;
}

.btn-lg, .btn-group-lg>.btn {
padding: 10px 16px;
font-size: 18px;
line-height: 1.33;
border-radius: 6px;
}

.btn-primary {
color: #ffffff;
background-color: #23272D;
border-color: #23272D;
}
.btn-primary:hover{
  background-color:#D13939;
  border-color: #23272D;

}

.btn {
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#social {
  margin:auto;
  padding-top:50px;
  width:320px;
}
#social img {
  padding-right:10px;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 35px;
    display: none;
    transition: all 0.3s ease;
    z-index:1;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    top: 13px;
    font-size: 19px;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

@media screen and (min-width:1485px){
  #services {
    height:450px;
  }
  #services-content {
    width:1500px;
  }

}
@media screen and (max-width:1065px){

  #about p {
    padding:7.5px;
    font-size:1.2em;
    margin-left:15px;
    margin-left:15px;
  }

  #about-content{
    width:100%;
    height:100%;
  }

  #about-me {
    float:none;
    margin:auto;
    width:100%;
  }
  
  #all-me {
    float:none;
    margin:auto;
    text-align:center;
    padding-top:20px;
  }

  #work-wrapper {
    width:100%;
    height:100%;
  }
  .rift-1{
    float:none;
    margin:25px auto;
  }
  .rift-2{
    float:none;
    margin:20px auto;
  }

  .rift-3 {
    float:none;
    margin:20px auto;
  }
  #services-content{
    height:100%;
    width:100%;
  }

  #services-p {
    color:#23272D;
  }
  #development {
    width:50%;
  }
  #communication {
    width:50%;
    margin:0;
  }
  
  #management{
    float:none;
    width:50%;
    margin:auto;
    clear:both;
    margin-bottom:30px;
  }

}

@media screen and (max-width:560px){
  #nav li {
    padding:5px;
    font-size:14px;
  }
  #portfolio {
    height:625px;
  }
  #portfolio h3 {
    padding-top:none;
  }
  #all-me img {
    width:300px;
  }
  #about {
    padding-bottom:20px;
  }
  #about p {
    margin-right:15px;
    margin-left:15px;
  }
  #about-content {
    height:100%;
  }
  #all-me img {
    float:none;
    padding:none;
  }

  #work-wrapper {
    height:625px;
  }
  .rift-1 {
    width:350px;
    height:168px;
  }
  .rift-2 {
    width:350px;
    height:170px;
  }

  .rift-3 {
    width:350px;
    height:168px;
  }

  #services {
    height:1050px;
  }
  #services p {
    color:black;
  }
  #development {
    width:100%;
    float:none;
    margin:auto;
  }
  #communication {
    float:none;
    margin:0;
    width:100%;
    margin:auto;
  }
  
  #management{
    float:none;
    width:100%;
    margin:auto;
    clear:both;
    margin-bottom:30px;
  }
}

@media screen and (max-width:400px){
  #all-me img {
    width: 275px;
  }
  .rift-1 {
    width:300px;
    height:146px;
    margin-top:20px;
  }
  .rift-2 {
    width:300px;
    height:146px;
  }

  .rift-3 {
    width:300px;
    height:146px;
  }

  #work-wrapper {
    height:550px;
  }
  #portfolio {
    height:550px;
  }

  #services {
    height:1150px;
  }
}
