.quotes {
	width:100%;
	text-align:center;
}
#random li {
	list-style-type: none;
	padding:2.5em 2em 2.5em 2em;
	font-size:1.25em;
}

.author{
	padding-top:.5em;
	font-weight:bold;
}

.button {
	margin-top:3em;
}