.wikipedia-viewer{
    width:40em;
    margin:auto;
    text-align:center;
}

input[type=search]{
    width:20em;
}

.buttons{
    margin-top:.75em;
}

.fa-question-circle-o{
  margin-right:15px;
}

.result {
  display: block;
  text-decoration: none;
  color: black;
  position: relative;
}
.result:hover {
  text-decoration: none;
  top: 1px;
  left: 1px;
}

@media screen and (max-width:560px){
    .wikipedia-viewer{
        width:25em;
    }
}