/* Hover CSS */

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  cursor:pointer;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

body {
  background-color:#00BFFF;
}

#clock-container{
  width:100%;
  text-align:center;
}

#clock-container h1{
  font-size:4em;
  color:white;
  padding-bottom:.5em;
  font-family: 'PT Sans', sans-serif;
}


#time{
  color:white;
  margin:auto;
  width:100%;
}


#clock-time-wrapper{
  font-size:5em;
  width:33%;
  float:left;
  text-align:center;
  padding-top:.8em;
  font-family: 'PT Sans', sans-serif;
}

.break-length{
  margin-top:1em;
  color:white;
  float:left;
  padding:2em;
  width:33%;
  text-align:center;
  font-family: 'PT Sans', sans-serif;
}

.break-length h3{
  padding-bottom:.5em;
  font-family: 'PT Sans', sans-serif;
}
.break-length span{
  padding:2em;
  font-size:2em;
}

.break-length button{
  color:#00BFFF;
  background:white;
  border-radius:.25em;
  border:0;
}


@media screen and (max-width: 780px) {
    .break-length{
      width:100%;
    }
    #clock-time-wrapper{
      width:100%;
    }
}